In [56]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('natacao.csv')

In [104]:
df

,Sede,Ano,Distancia,Estilo,Revesamento?,Genero,Equipe,Atleta,Tempo,Posicao
0,Tokyo,2020,100,Costas,0,Masculino,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100,Costas,0,Masculino,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100,Costas,0,Masculino,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100,Costas,0,Masculino,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100,Costas,0,Masculino,CHN,Jiayu Xu,52.51,4
...,...,...,...,...,...,...,...,...,...,...
4354,Stockholm,1912,800,Livre,1,Feminino,SWE,"Greta Carlsson, Vera Thulin, Sonja Johnsson, G...",NaN,5
4355,Stockholm,1912,800,Livre,1,Masculino,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1
4356,Stockholm,1912,800,Livre,1,Masculino,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2
4357,Stockholm,1912,800,Livre,1,Masculino,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3
4358,Stockholm,1912,800,Livre,1,Masculino,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sede          4359 non-null   object
 1   Ano           4359 non-null   int64
 2   Distancia     4359 non-null   object
 3   Estilo        4359 non-null   object
 4   Revesamento?  4359 non-null   int64
 5   Genero        4359 non-null   object
 6   Equipe        4359 non-null   object
 7   Atleta        4345 non-null   object
 8   Tempo         4331 non-null   object
 9   Posicao       4359 non-null   int64
dtypes: int64(3), object(7)
memory usage: 340.7+ KB

**1 - Identifique e responda, qual a variável estatística representada em cada coluna do dataframe?**

Sede: Qualitativa - Categórica

Ano: Quantitativa - Discreta

Distancia: Quantitativa - Continua

Estilo: Qualitativa - Categórica

Revesamento: Qualitativa - Categórica

Genero: Qualitativa - Categórica

Equipe: Qualitativa - Categórica

Atleta: Qualitativa - Categórica

Tempo: Quantitativa - Continua

Posicao: Quantitativa - Discreta

**2 - Identifique e responda, qual a medida de resumo mais adequada para cada variável numérica? justifique cada uma delas.**

Ano: Medida de Dispersão. Com a variavel de ano é possivel visualizar as oscilações ocorridas ao longo do tempo.

Distancia: Medida de dispersão. Esta variavel pode ser utilizada em conjunto com outras variaveis para observar desvios e padrões.

Tempo: Medidas de posição. A partir dessa variavel é possivel obter valores relevantes como a média de tempo que os atletas utilizam para concluir um prova, encontrar valores de referecia como a mediana e moda.

Posicao: Medida de dispersão. Com a posição é possivel identificar informações relevantes em conjunto com outras propriedades, como encontrar a média de posições de uma equipe ao longo do tempo e quais atletas se classificam melhor.

**3 - Qual atleta teve o maior número de participações em provas masculinas?**

In [ ]:
df.loc[df['Genero'] == 'Masculino','Atleta'].value_counts().idxmax()

'Michael Phelps'

**4 - Qual atleta teve o maior número de participações em provas femininas?**

In [ ]:
df.loc[df['Genero'] == 'Feminino', 'Atleta'].value_counts().idxmax()

'Kirsty Leigh Coventry'

**5 - Qual pais conquistou o maior número de medalhas de bronze?**

In [ ]:
df.loc[df['Posicao'] == 3,'Equipe'].value_counts().idxmax()

'USA'

**6 - Qual é a distância média das provas de natação? Você precisará converter string para int64 para realizar este cálculo. (Atenção para as provas de revezamento, que deverão ter sua distância multiplicada. ex: 4X100 Livre, a distância da prova deve ser de 400).**

In [109]:
# df['Distancia'].str.replace("m","").str.split("x")
df.loc[df['Distancia'] == '4x100','Distancia'] = '800'
df.loc[df['Distancia'] == '4x200','Distancia'] = '800'
df['Distancia'].str.replace("m","")

0       100
1       100
2       100
3       100
4       100
       ...
4354    800
4355    800
4356    800
4357    800
4358    800
Name: Distancia, Length: 4359, dtype: object

In [110]:
df['Distancia'].value_counts()

200m     1280
100      1235
800       740
400m      634
1500m     206
50m       144
800m      120
Name: Distancia, dtype: int64

In [ ]:
df['Distancia'].astype('int64')

**7 - Crie um nova coluna chamada "ClassificacaoDistancia", provas de até 200m serão classificadas como "Curta", provas entre 201m e 600m serão classificadas como "Média" e provas com mais de 600m serão classificadas como "Longa".**

**8 - Considerando os dados dos tempos das provas de 100m livre na natação ao longo dos Jogos Olímpicos, analise o gráfico de linha abaixo, que apresenta os tempos das provas masculinas e femininas ao longo dos anos:**

![Screenshot from 2023-05-25 18-21-16.png]()

**Com base em suas observações responda, quais conclusões você consegue afirmar com o gráfico acima, utilize o dataframe disponibilizado para enriquecer sua análise. Apresente ao menos dois argumentos para cada afirmação.**